h1 {
    color: red;
}
h2 {
    color: blue;
}
.grosRouge {
    font-weight: bold;
    font-size: x-large;
    background-color: red;
}
.prems{
    text-decoration: underline;
}
.lignenum{
    font-style: italic;
}